﻿@model Training.Core.Model.Kategori

@{
    ViewBag.Title = " Delete Kategori ";
}

<h2> Delete Kategori </h2>

<h4> Apa kamu yakin ingin menghapus kategori ini? </h4>

<div>
    <dl class="dl-horizontal">
        <dt> Nama Kategori </dt>
        <dd> @Html.DisplayFor(model => model.NamaKategori) </dd>

    </dl>

    <div class="form-group">
        <label class="col-md-2 control-label" for="submit"></label>
        <div class="col-md-10">
            <button id="submit" name="submit" type="submit" class="btn btn-danger"> Delete </button>
        </div>
    </div>

    <div>
        <a href="/Kategori">Back to List</a>
    </div>
</div>