﻿@model Training.Core.Model.Kategori

@{
    ViewBag.Title = " Details Buku";
}

<h2> Details Buku </h2>

<div>
    <dl class="dl-horizontal">
        <dt> Nama Kategori </dt>
        <dd> @Html.DisplayFor(model => model.NamaKategori) </dd>
    </dl>
</div>

<div>
    <a href="/Kategori/EditKategori/@Model.KategoriId">Edit</a> ||
    <a href="/Kategori"> Back to List </a>
</div>
