﻿@model Training.Core.Model.Kategori

@{ 
    ViewBag.Title = " Edit Kategori ";
}

<h2> Edit Kategori </h2>

<div class="container>
    <div class="row">
        <form class="form-horizontal">
            <fieldset>
                <legend>
                    Edit Buku
                </legend>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="NamaKategori"> Nama Kategori </label>
                    <div class="col-md-10">
                        <input id="NamaKategori" name="NamaKategori" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="submit"></label>
                    <div class="col-md-10">
                        <button id="submit" name="submit" type="submit" class="btn btn-success"> Save </button>
                    </div>
                </div>

                <div>
                    <a href="/Kategori">Back to List</a>
                </div>

            </fieldset>

        </form>

    </div>

</div>