﻿@model IEnumerable<Training.Core.Model.Kategori>

@{
    ViewBag.Title = "Index Kategori";
}

<h2> Index Kategori </h2>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 accent-blue">
        <table class="table table-striped accent-dark">

            <a href="/Kategori/TambahKategori"
               class="btn btn-success btn-sm pull-left">
                <b>+</b> Tambahkan Kategori
            </a>

            <tr>
                <th> Nama Kategori </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.NamaKategori </td>
                    <td>
                        <a href="/Kategori/DetailsKategori/@item.KategoriId" class="btn"><i class="icon-pencil"></i> <strong> Details </strong></a> |
                        <a href="/Kategori/EditKategori/@item.KategoriId" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a> |
                        <a href="/Kategori/DeleteKategori/@item.KategoriId" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>