﻿@model Training.Core.Model.Kategori

@{
    ViewBag.Title = " Tambah Kategori ";
}

<h2> Tambah Kategori </h2>

<form action="/Buku/TambahBuku" enctype="multipart/form-data" method="post">
    @*@using (Html.BeginForm("Create", "Buku",
        FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    <fieldset>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Buku</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                <label class="control-label col-md-2"> Nama Kategori </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamaKategori, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamaKategori, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tambah Kategori" class="btn btn-default" />
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div>
    <a href="/Kategori">Back to List</a>
</div>