﻿@model System.Collections.Generic.List<Training.Core.Model.Buku>
@using System.Linq

<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var buku in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail" style="height: 450px;" align="center">


                    <a href="@Url.Action("DetailBuku", "Home", new { id = buku.BukuId })">
                        <img src="/Images/@buku.Gambar" height="250" width="200" />
                    </a>

                    <div class="caption">
                        <h5 style="text-align: center">@buku.Judul</h5>
                        <h4 style="text-align: center">@buku.Penulis</h4>
                        <h5 style="text-align: center">@buku.Penerbit</h5>

                        @{
                            if (buku.Status)
                            {
                                <p style="text-align: center">
                                    <a class="btn btn-success" role="button"
                                       data-bukuId="@buku.BukuId"
                                       data-bukuImage="@buku.Gambar"
                                       data-bukuJudul="@buku.Judul"
                                       data-bukuPenulis="@buku.Penulis"
                                       style="margin-top: 10px;">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                    </a>
                                </p>
                            }
                        }
                    </div>
                </div><br />
            </div>
        }
    }

</div>




<script type="text/javascript">


    $(document).ready(function () {


        $('.btn-success')
            .click(function () {

                var selectedProduct = {
                    BukuId: $(this).attr('data-bukuId'),
                    Gambar: $(this).attr('data-bukuImage'),
                    Judul: $(this).attr('data-bukuJudul'),
                    Penulis: $(this).attr('data-bukuPenulis')
                };


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddShoppingCart", "IndexHome")',
                    data: selectedProduct,
                    success: function (response) {
                        alert(response.message);
                        $('#myOrder').text("My Order(" + response.jumlahBuku + ")");
                    },
                    error: function (response) {
                        alert(response.message);
                    }

                });

            });



    });
</script>