﻿@model List<Training.Core.Model.Buku>

@{
    ViewBag.Title = "Daftar Buku";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <p style="display:inline-block; position:relative; right:-56%;">

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DAFTAR BUKU
                    <div style="display:inline-block; position:relative; right:-68%;">
                        <button type="button" class="btn btn-primary btn-xs" data-id="Teknologi"></button>
                        <button type="button" class="btn btn-primary btn-xs" data-id="Bahasa"></button>
                        <button type="button" class="btn btn-primary btn-xs" data-id="Sosial"></button>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.Partial("_GetBuku", Model)
                </div>

            </div>
        </div>
    </div>
</div>