﻿@model IEnumerable<Training.Core.Model.Buku>
@using Training.API.Service.Home;
@{
    ViewBag.Title = "My Order";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Any())
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <dix class="col-md-12">
                <table id="tableOrder" class="table table-hover">
                    <tr>
                        <th></th>
                        <th>Penulis</th>
                        <th>Judul Buku</th>
                    </tr>
                    @foreach (var buku in Model)
                    {
                        <tr>
                            <td>
                                <img style="width:58px;height:60px" src="@buku.Gambar" />
                            </td>
                            <td>@buku.Penulis</td>
                            <td>@buku.Judul</td>

                        </tr>
                        @Html.HiddenFor(p => buku.BukuId)
                    }
                </table>
            </dix>
        </div>
        <div class="modal-footer">
            <button type="submit" name="answer" value="Cancel" class="btn btn-secondary"> Cancel Order</button>
            <button type="submit" name="answer" value="Save" class="btn btn-primary"> Save Order</button>
        </div>
    }
}
else if (string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-warning" role="alert"> Tidak ada order.</div>
}
else if (ViewBag.Success == "error")
{
    <div class="alert alert-danger" role="alert"> Tidak dapat menyimpan order. Silahkan hubungi Admin</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
else if (ViewBag.Success == "Success")
{
    <div class="alert alert-success" role="alert"> Order Berhasil. </div>
}