﻿@model List<Training.Core.Model.HomeIndex.HistoryVM>
@using Training.API.Service.Home;

@{
    ViewBag.Title = "My History Order";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Any())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-12">
            <table id="tableOrder" class="table table-hover">
                <tr>
                    <th></th>
                    <th>Penulis</th>
                    <th>judul Buku</th>
                    <th>Tanggal Pinjam</th>
                    <th>Tanggal Kembali</th>
                    <th>Status Peminjaman</th>
                    <th>Action</th>
                </tr>
                @foreach (var history in Model)
                {
                    <tr>
                        <td>
                            <img style="width:58px;height:60px" src="@history.Gambar" />
                        </td>
                        <td>@history.Penulis</td>
                        <td>@history.Judul</td>
                        <td>@history.OrderDate</td>
                        <td>@history.ReturnDate</td>
                        <td>@history.Status</td>
                        <td>@Html.ActionLink("Detail", "detailBuku", "Home", new { id = history.BukuId }, null)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

else if (string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-warning" role="alert"> Tidak ada history.</div>
}
else if (ViewBag.Success == "Error")
{
    <div class="alert alert-danger" role="alert"> Tidak dapat menampilkan history. Silahkan hubungi Admin</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
