﻿@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Authentication;
@using Training.Models; 
@*@using Microsoft.AspNetCore.Mvc.Razor;*@
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
@inject IOptions<MetaOptions> metaOptions

@{
    string url = metaOptions.Value.API_Base_URL;
    //var buku = HttpContextAccessor.HttpContext.Session.Get<List<Buku>>("ShoppingCart");
    //int iChart = 0;
    //if (buku != null && buku.Any())
    //{
    //    iChart = buku.Count();
    //}
}


<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Training Library </title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript">
        var urlAPI = '@url';
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer @await ViewContext.HttpContext.GetTokenAsync("access_token")');
                }
            });
        });
    </script>
</head>


<body>
    @*@RenderSection("scripts", false)*@

    <div id="header" class="navbar navbar-fixed-top">
        <div id="header-container" class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a id="brand" class="navbar-brand" href="~/Home/IndexHome" />Training Library</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <partial name="_Menu" />                     
               
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Training Library</p>
        </footer>

    </div>

</body>

</html>
