﻿
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@

@{ 
//List<Buku> bukuList = SessionManager.Get<List<Buku>>("ShoppingCart");
//var buku = HttpContextAccessor.HttpContext.Session.Get<List<Buku>>("ShoppingCart");
//int iChart = 0;
//if (buku != null && buku.Any())
//{
//    iChart = buku.Count();
//}
}

<ul class="nav navbar-nav">
    <li class="active"><a href="/Home/DaftarBukus"> Daftar Buku </a></li>
    <li><a href="/Home/DisplayHistory"> History Peminjaman Buku </a></li>
    <li><a href="/Home/DisplayMyOrder/myOrder"> My Order @*(+@iChart +)*@</a></li>
</ul>

<ul class="nav navbar-nav nabar-right">
    <li class="btn-group-nav">
        <button type="button" class="btn navbar-btn"
                style="background-color:limegreen ">
            @*@User.Identity.Name*@
        </button>
        <button type="button"
                class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
            <span class="fas fa-angle-double-down"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li> <a href="/Users/IndexUsers"> User </a></li>
            <li> <a href="/Kategori/IndexKategori"> Kategori Buku </a></li>
            <li> <a href="/Buku/IndexBukus"> Buku </a></li>
            <li> <a href="/Buku/DaftarPeminjam"> Pengembalian Buku </a></li>
            <li> <a href="/Account/ChangePassword"> Change Password </a></li>
        </ul>
    </li>

    <li>
        <a asp-controller="Account" asp-action="LogOff">
            Log off
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    </li>
</ul>