﻿@model Training.Core.Model.LoginViewModel
@{ Layout = null;
   ViewBag.Title = "Login";
 }

<!DOCTYPE html>          
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Training Lib | Log in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- icheck bootstrap -->
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>

    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="~/img/user.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-append">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                                <input type="text" name="" class="form-control input_user" value="" placeholder="username">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <div class="input-group-append">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                                <input type="password" name="" class="form-control input_pass" value="" placeholder="password">
                            </div>
                            <div class="row">
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="col-8">
                                        <div class="icheck-primary">
                                            <input type="checkbox" id="remember">
                                            <label for="remember">
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>}
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" name="button" value="login" class="btn btn-primary btn-block">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                            @if (Model.message != null)
                            {
                                <div class="row">
                                    <p class="text-danger">@Html.DisplayFor(Model => Model.message)</p>
                                </div>
                            }
                         </form>
                    </div>

                </div>
            </div>


        </div>

        <script src="~/plugins/jquery/jquery.js"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>

</html>
