﻿@model Training.Core.Model.User

@{ 
    ViewBag.Title = "Create User";
}



<div class="container">
    <div class="row">

        <form class="form-horizontal">
            <fieldset>
                <legend>Create New User</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Username">Username</label>
                    <div class="col-md-10">
                        <input id="username" name="Username" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Name">Nama</label>
                    <div class="col-md-10">
                        <input id="nama" name="Nama" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Password">Password</label>
                    <div class="col-md-10">
                        <input id="password" name="Password" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Role">User Role</label>
                    <div class="col-md-10">
                        <input id="Role" name="Role" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Status">Status</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input id="Status" name="Status" type="checkbox" placeholder="" class="checkbox" required="">
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="submit"></label>
                    <div class="col-md-10">
                        <button id="submit" name="submit" type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>

                <div>
                    <a href="/Users">Back to List</a>
                </div>

            </fieldset>
        </form>

    </div>
</div>

