﻿@model Training.Core.Model.User

@{ 
    ViewBag.Title = "Details User";
}

<h2> Details Users</h2>

<div>
    <dl class="dl-horizontal">
        <dt> Username </dt>
        <dd> @Html.DisplayFor(model => model.Username) </dd>

        <dt> Nama </dt>
        <dd> @Html.DisplayFor(model => model.Nama) </dd>

        <dt> Password </dt>
        <dd> @Html.DisplayFor(model => model.Password) </dd>

        <dt> Role </dt>
        <dd> @Html.DisplayFor(model => model.Role) </dd>

        <dt> Status </dt>
        <dd> @Html.DisplayFor(model => model.Status) </dd>
    </dl>
</div>

<div>
    <a href="/Users/EditUsers/@Model.Username">Edit</a>
    <a href="/Users">Back to List</a>
</div>
