﻿@model IEnumerable<Training.Core.Model.User>

@{ 
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 accent-blue">
        <table class="table table-striped accent-dark">
            
                <a href="/Users/CreateUsers"
                   class="btn btn-success btn-sm pull-left">
                    <b>+</b> Add new user
                </a>

            <tr>
                <th> Nama Pengguna </th>
                <th> User Role </th>
                <th> Status </th>
                <th> Action </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Nama </td>
                    <td> @item.Role </td>
                    <td> @item.Status </td>
                    <td>
                        <a href="/Users/DetailsUsers/@item.Username" class="btn"><i class="icon-pencil"></i> <strong> Details </strong></a> |
                        <a href="/Users/EditUsers/@item.Username" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a> |
                        <a href="/Users/Delete/@item.Username" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
