﻿@model Training.Data.Entity.Bukus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bukus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penulis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penulis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deskripsi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gambar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gambar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.NamaKategori)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BukuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
