﻿@model Training.Core.Model.Buku

@{
    ViewBag.Title = " Hapus Buku";
}

<h2> Hapus Buku</h2>

<h4> Apa kamu yakin ingin menghapus buku ini? </h4>

<div>
    <dl class="dl-horizontal">
        <dt> Nama Kategori </dt>
        <dd> @Html.DisplayFor(model => model.Kategori.NamaKategori) </dd>

        <dt> Judul Buku </dt>
        <dd> @Html.DisplayFor(model => model.Judul) </dd>

        <dt> Nama Penulis </dt>
        <dd> @Html.DisplayFor(model => model.Penulis) </dd>

        <dt> Nama Penerbit </dt>
        <dd> @Html.DisplayFor(model => model.Penerbit) </dd>

        <dt> Deskripsi </dt>
        <dd> @Html.DisplayFor(model => model.Deskripsi) </dd>

        <dt> Status Buku</dt>
        <dd> @Html.DisplayFor(model => model.Status) </dd>

        <dt> Gambar Buku </dt>
        <dd> @Html.DisplayFor(model => model.Gambar) </dd>
    </dl>

    <div class="form-group">
        <label class="col-md-2 control-label" for="submit"></label>
        <div class="col-md-10">
            <button id="submit" name="submit" type="submit" class="btn btn-danger"> Delete </button>
        </div>
    </div>

    <div>
        <a href="/Buku">Back to List</a>
    </div>
</div>