﻿@model Training.Core.Model.Buku

@{
    ViewBag.Title = "Details Buku";
}

<h2> Details Buku</h2>

<div>
    <dl class="dl-horizontal">
        <dt> Nama Kategori </dt>
        <dd> @Html.DisplayFor(model => model.Kategori.NamaKategori) </dd>

        <dt> Judul Buku </dt>
        <dd> @Html.DisplayFor(model => model.Judul) </dd>

        <dt> Nama Penulis </dt>
        <dd> @Html.DisplayFor(model => model.Penulis) </dd>

        <dt> Nama Penerbit </dt>
        <dd> @Html.DisplayFor(model => model.Penerbit) </dd>

        <dt> Deskripsi </dt>
        <dd> @Html.DisplayFor(model => model.Deskripsi) </dd>

        <dt> Status Buku</dt>
        <dd> @Html.DisplayFor(model => model.Status) </dd>

        <dt> Gambar Buku </dt>
        <dd> @Html.DisplayFor(model => model.Gambar) </dd>
    </dl>
</div>

<div>
    <a href="/Buku/EditBuku/@Model.BukuId">Edit</a>
    <a href="/Buku">Back to List</a>
</div>