﻿@model Training.Core.Model.Buku

@{
    ViewBag.Title = "Edit Buku";
}

<h2> Edit Buku </h2>

<div class="container>
    <div class="row">
        <form class="form-horizontal">
            <fieldset>
                <legend>
                    Edit Buku
                </legend>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Judul"> Judul Buku </label>
                    <div class="col-md-10">
                        <input id="Judul" name="Judul" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Penulis">Nama Penulis</label>
                    <div class="col-md-10">
                        <input id="penulis" name="Penulis" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Role">Nama Penerbit</label>
                    <div class="col-md-10">
                        <input id="penerbit" name="Penerbit" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Role">Deskripsi</label>
                    <div class="col-md-10">
                        <input id="Deskripsi" name="Deskripsi" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="KategoriId">Kategori</label>
                    <div class="col-md-10">
                        <input id="KategoriId" name="KategoriId" type="text" placeholder="" class="form-control input-md" required="">
                        @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Status">Status Buku</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input id="Status" name="Status" type="checkbox" placeholder="" class="checkbox" required="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Upload Buku</label>
                    <div class="col-md-10">
                        <input id="ImageFile" name="ImageFile" type="file" onchange="show(this)" /> <br />
                        <img id="user_img" height="100" width="90" style="border: solid" src="/Images/@Model.Gambar" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="submit"></label>
                    <div class="col-md-10">
                        <button id="submit" name="submit" type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>

                <div>
                    <a href="/Buku">Back to List</a>
                </div>

            </fieldset>

        </form>

    </div>

</div>

@section Scripts {
   @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>
}