﻿<div class="container">
    <div class="row col-md-6 col-md-offset-2 accent-blue">
        <table class="table table-striped accent-dark">

            <a href="/Buku/TambahBuku"
               class="btn btn-success btn-sm pull-left">
                <b>+</b> Tambahkan Buku
            </a>

            <tr>
                <th> Judul Buku </th>
                <th> Nama Penulis </th>
                <th> Penerbit </th>
                <th> Status Buku </th>
                <th> Gambar </th>
                <th> Action </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Judul </td>
                    <td> @item.Penulis </td>
                    <td> @item.Penerbit </td>
                    <td> @item.Status </td>
                    <td> <img style="width:58px;height:60px" src="@item.Gambar" /></td>
                    <td>
                        <a href="/Buku/DetailsBuku/@item.BukuId" class="btn"><i class="icon-pencil"></i> <strong> Details </strong></a> |
                        <a href="/Buku/EditBuku/@item.BukuId" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a> |
                        <a href="/Buku/DeleteBuku/@item.BukuId" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>